# keep it minimal & safe
.git
.git/
.gitignore
.vscode
node_modules
*/node_modules
apps
apps/
.venv
.venv/
.pytest_cache
*/.pytest_cache
__pycache__
*/__pycache__
__pycache__/
.env
.env.
*.log
dist
build
.next
coverage
*.pyc
pycache/

# DO NOT ignore our sources (MUST be at the end)
!backend/**
!scripts/**
